*.o
*.lo
*.la
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
stamp-h1
ltmain.sh
*~
