language:
  - cpp
  - python
cache:
  directories:
    - $HOME/.ccache
    - $HOME/.cache/pip
python:
  - "2.7"
compiler:
  - gcc
notifications:
  email:
    on_success: always
    on_failure: always
  slack: jsk-robotics:Av7tc8wj3IWkLYvlTzHE7x2g
env:
  global:
    - ROS_PARALLEL_JOBS="-j8"
    - ROS_PARALLEL_TEST_JOBS="-j1"
    - CATKIN_PARALLEL_TEST_JOBS="-j1"
    - USE_JENKINS=true
  matrix:
    - ROS_DISTRO=hydro USE_DEB=false CATKIN_TOOLS_BUILD_OPTIONS='-iv --summarize --no-status --no-color'
    - ROS_DISTRO=indigo USE_DEB=true
    - ROS_DISTRO=indigo USE_DEB=true BEFORE_SCRIPT='$CI_SOURCE_PATH/.travis_before_script_opencv3.bash'
    - ROS_DISTRO=jade USE_DEB=true
    - ROS_DISTRO=kinetic USE_DEB=true
script: source .travis/travis.sh
