#!/usr/bin/env python

# set up parameters that we care about
PACKAGE = 'mini_maxwell'

try:
    import imp
    imp.find_module(PACKAGE)
    from dynamic_reconfigure.parameter_generator_catkin import *;
except:
    import roslib; roslib.load_manifest(PACKAGE)
    from dynamic_reconfigure.parameter_generator import *;

gen = ParameterGenerator ()

gen.add("rate_limit", int_t, 0, "rate limit [bps]", 1000000, 128, 100000000)
gen.add("round_trip", int_t, 0, "round trip [ms]", 100, 0, 60000)

exit (gen.generate (PACKAGE, "mini_maxwell", "RosClient"))
