<launch>
  <arg name="CPU_NUM" default="-1" />
  <arg name="USE_IPMI_TOOL" default="false"/>
  <arg name="LOAD1_THRESHOLD" default="5.0" />
  <arg name="LOAD5_THRESHOLD" default="3.0" />
  <arg name="ENFORCE_CLOCK_SPEED" default="false" />
  <arg name="NTP_HOSTNAME" default="cmachine"/>
  <arg name="NO_NTP_MONITOR" default="false" />
  <group ns="pc_monitor">
    <node pkg="pr2_computer_monitor"
          name="$(anon cpu_monitor)"
          type="cpu_monitor.py">
      <rosparam subst_value="true">
        check_ipmi_tool: $(arg USE_IPMI_TOOL)
        load1_threshold: $(arg LOAD1_THRESHOLD)
        load5_threshold: $(arg LOAD5_THRESHOLD)
        num_cores: $(arg CPU_NUM)
        enforce_clock_speed: $(arg ENFORCE_CLOCK_SPEED)
      </rosparam>
    </node>
    <node pkg="pr2_computer_monitor"
          name="$(anon ntp_monitor)"
          type="ntp_monitor.py"
          args="$(arg NTP_HOSTNAME)"
          unless="$(arg NO_NTP_MONITOR)"/>
    <node pkg="jsk_network_tools"
          type="network_status.py"
          name="$(anon network_status)">
      <param name="hz" value="1" />
    </node>
  </group>
</launch>
