<launch>
  <arg name="POSE_REMAP" default="pose" />
  <arg name="CONTROLLER_TYPE" default="xbox" />
  <node pkg="joy" type="joy_node" name="ps3_joy0" output="screen" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.2" />
    <param name="autorepeat_rate" value="40" />
    <param name="coalesce_interval" value="0.025" />
  </node>
  <node pkg="jsk_joy" type="joy.py" name="joy" output="screen">
    <remap from="pose" to="$(arg POSE_REMAP)" />
    <param name="controller_type" value="$(arg CONTROLLER_TYPE)" />
    <param name="follow_view" value="true" />
    <rosparam>
      plugins: ['JoyPose6D']
    </rosparam>
  </node>
</launch>
