<launch>
  <include file="$(find openni_launch)/launch/openni.launch" />
  <group ns="camera">
    <node pkg="nodelet"
          type="nodelet"
          name="throttle"
          output="screen"
          clear_params="true"
          args="load jsk_topic_tools/LightweightThrottle /camera/camera_nodelet_manager">
      <remap from="~input" to="/camera/depth/points" />
      <remap from="~output" to="/camera/depth/points_throttle" />
      <param name="update_rate" value="10.0" />
    </node>
  </group>
</launch>
