<launch>
  <node pkg="jsk_topic_tools" type="topic_buffer_client" name="tf_buffer_client"
	output="screen">
    <remap from="/list" to="/tf_buffer_server/list"/>
    <remap from="/update" to="/tf_buffer_server/update"/>
    <remap from="/tf_merged_buffered" to="/tf_low_frequency"/>
    <rosparam>
      use_service: false
      topics: ["/tf_merged"]
      fixed_rate: 0.1
    </rosparam>
  </node>
</launch>
