<launch>
  <arg name="ip_address" default="10.66.171.21" />
  <arg name="namespace"  default="multisense" />
  <arg name="mtu"        default="7200" />
  <arg name="use_robot_description" default="true" />
  <arg name="sensor_tf_prefix" default="$(arg namespace)" />
  <arg name="not_use_sensor_tf_prefix" default="false" />
  <include file="$(find multisense_bringup)/multisense.launch">
    <arg name="ip_address" value="$(arg ip_address)" />
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="mtu" value="$(arg mtu)" />
    <arg name="launch_robot_state_publisher" value="$(arg use_robot_description)" />    
  </include>

  <!--
      Overwrite multisense/multisense_driver/tf_prefix parameter.
      Because this parameter affects frame_id of images, lasers.
  -->
  <group ns="multisense">
    <group ns="multisense_driver">
      <param name="tf_prefix" value="/$(arg sensor_tf_prefix)" unless="$(arg not_use_sensor_tf_prefix)"/>
      <param name="tf_prefix" value="" if="$(arg not_use_sensor_tf_prefix)"/>
    </group>
  </group>

  <group unless="$(arg use_robot_description)" ns="$(arg namespace)">
    <!-- using robot description under name space -->
    <param name="robot_description"
           textfile="$(find multisense_description)/urdf/multisenseSL.urdf"/>
    <!-- Robot state publisher -->
    <node pkg="robot_state_publisher" type="state_publisher" name="state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="/$(arg namespace)" />
    </node>
  </group>

   <!-- pointcloud pipeline -->
   <!-- run spindle -->
   <node pkg="dynamic_reconfigure" type="dynparam" name="set_multisense_spindle"
         args="set multisense motor_speed 1.57" />

   <node name="tilt_scan_to_scan"
         pkg="laser_filters" type="scan_to_scan_filter_chain"
         output="screen">
     <remap from="scan" to="/multisense/lidar_scan" />
     <rosparam subst_value="true">
       scan_filter_chain:
       - name: shadows
         type: laser_filters/ScanShadowsFilter
         params:
           min_angle: 0
           max_angle: 170
           neighbors: 5
           window: 1
       - name: dark_shadows
         type: LaserScanIntensityFilter
         params: 
           lower_threshold: 100
           upper_threshold: 10000
           disp_histogram: 0
       - name: range
         type: laser_filters/LaserScanRangeFilter
         params:
           lower_threshold: 0.2 # 0.5
           upper_threshold: 30
     </rosparam>
     <remap from="scan_filtered" to="/multisense/lidar_scan_filtered" />
   </node>
   <node name="tilt_scan_to_cloud"
         pkg="laser_filters" type="scan_to_cloud_filter_chain"
         output="screen">
     <remap from="scan" to="/multisense/lidar_scan_filtered" />
     <rosparam>
       target_frame: multisense/spindle
       high_fidelity: true
     </rosparam>
     <remap from="cloud_filtered" to="/multisense/lidar_scan_cloud_filtered" />
   </node>
   <node pkg="nodelet" type="nodelet" name="multisense_laser_manager"
         args="manager" output="screen"/>
   <node pkg="nodelet" type="nodelet"
         name="tilt_laser_listener"
         args="load jsk_pcl/TiltLaserListener multisense_laser_manager"
         output="screen">
     <remap from="~input" to="/$(arg namespace)/joint_states" />
     <rosparam>
       laser_type: infinite_spindle_half
       joint_name: motor_joint
       use_laser_assembler: true
       overwrap_angle: 0.1
     </rosparam>
     <remap from="~assemble_scans2" to="/assemble_scans2" />
   </node>
   <!-- for backward compatibility -->
   <node pkg="nodelet" type="nodelet"
         name="multisense_laser_relay"
         args="load jsk_topic_tools/Relay multisense_laser_manager">
     <remap from="~input" to="tilt_laser_listener/output_cloud" />
     <remap from="~output" to="/full_cloud2" />
   </node>
   <!-- full_cloud2 -->
   <node pkg="laser_assembler" type="laser_scan_assembler"
         name="laser_scan_assembler_node"
         output="screen" >
     <remap from="scan" to="/multisense/lidar_scan_filtered"/>
     <param name="tf_cache_time_secs" value="20" />
     <param name="max_scans" type="int" value="1000" />
     <param name="fixed_frame" type="string" value="multisense/head_root"/>
     <rosparam command="load" file="$(find jsk_tilt_laser)/config/multisense_laser_filter.yaml" />
   </node>
   
   <!-- modify multisense parameters -->
   <node pkg="dynamic_reconfigure" type="dynparam" args="set /multisense motor_speed 0.5" name="set_multisense_spindle_speed" />
   <node pkg="dynamic_reconfigure" type="dynparam" args="set /multisense fps 30.0" name="set_multisense_fps" />

   <include file="$(find jsk_pcl_ros)/launch/multi_resolution_organized_pointcloud.launch">
     <arg name="NAMESPACE" value="multisense" />
     <arg name="INPUT" value="/multisense/organized_image_points2_color" />
   </include>
</launch>
