#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import *

PKG = "jsk_topic_tools"

gen = ParameterGenerator()

#       name    type     level     description     default      min      max
gen.add("approximate_sync", bool_t, 0, "Enable approximate synchronization policy", False)
gen.add("queue_size", int_t, 0, "Queue size of subscriber", 100, 1, 1000)
gen.add("update_rate", double_t, 0, "Throttle rate", 1.0, 0.0, 1000.0)
gen.add("use_wall_time", bool_t, 0, "Use wall time for throttling", False)
gen.add("suffix", str_t, 0, "Suffix for throttled topics", "throttled")

exit(gen.generate(PKG, PKG, "SynchronizedThrottle"))
