<!-- -*- mode: xml -*- -->
<launch>
  <group ns="wide_stereo">
    <!-- camera driver left -->
    <node name="camera1394_left" pkg="camera1394" type="camera1394_node"
	  respawn="false" output="screen" clear_params="true">
      <remap from="camera" to="left_raw"/>
      <param name="frame_rate" value="7.5"/>
      <param name="video_mode" value="640x480_rgb8"/>
      <!-- add your own camera's GUID -->
      <!-- <param name="guid" value=""/> -->
      <param name="frame_id" type="string" value="/STEREO/LEFT_CAMERA"/>
      <!-- calib data
      <param name="camera_info_url"
	     value="file:///$(find package)/launch/stereo_left.yaml"/>
      -->
    </node>

    <!-- camera driver right -->
    <node name="camera1394_right" pkg="camera1394" type="camera1394_node"
	  respawn="false" output="screen" clear_params="true">
      <remap from="camera" to="right_raw"/>
      <param name="frame_rate" value="7.5"/>
      <param name="video_mode" value="640x480_rgb8"/>
      <!-- add your own camera's GUID -->
      <!-- <param name="guid" value=""/> -->
      <param name="frame_id" type="string" value="/STEREO/LEFT_CAMERA"/>
      <!-- calib data
      <param name="camera_info_url"
	     value="file:///$(find package)/launch/stereo_right.yaml"/>
      -->
    </node>

    <!-- synchronizer -->
    <node name="stereo_synchronizer" pkg="stereo_synchronizer" type="stereo_synchronizer"
	  respawn="false" output="screen" />

    <!-- stereo proc -->
    <node name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc"
	  respawn="false" output="screen" />

  </group>
</launch>
